{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//db.onlinewebfonts.com/c/c8002809ed49394a1aab4a4ceaff09a6?family=Neue+Haas+Grotesk" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    
    <!-- <script src="https://cdn.plot.ly/plotly-2.4.2.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <title>Digitalisierte Dampfmaschine</title>
    <style>
        html, body{
            margin: 0;
            height: 100%;
            background: #DE6262;  /* fallback for old browsers */
            
            background: #ffff; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        .home{
            font-family: "Neue Haas Grotesk"; 
            color:rgb(26, 53, 129);
            font-size: 35px;
            width: 180px;
            height: 70px;
            background-color:rgba(160, 222, 233,0.5);
            border-width: 0px;
            border-radius: 5px;
            border-color: rgb(6, 199, 199);
            cursor:pointer;
            
        }
        .home:hover{
            background-color: rgb(215, 243, 241);
        }
        #line-chart {
            max-width: 1250px;
            max-height: 800px;
            padding-top: 30px;
            padding-left: 10px;
        }
        #button-container-div {
            text-align: right;
            padding-right: 35px;   
            padding-top: 20px;
           
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>
    <div id="button-container-div">
        <button class="home" onclick="location.href='/' "> 
            Zurück
        </button>
    </div>  
    <div class="container-fluid">
        <div  id="line-chart" ></div>
    </div>
    
    <script src="{% static 'main.js' %}"></script>
</body>
</html>